{% extends "base_generic.html" %}
{% block title %}
    About Cryptonic
{% endblock title %}
{% block content %}
    <div class="container py-5">
        <section class="mb-5">
            <h2 class="display-4 text-primary">Vision Statement</h2>
            <p class="lead">
                Cryptonic empowers companies and individuals to elevate their digital security. Unlike traditional password encryption services, we utilize cutting-edge encryption algorithms that generate unique, non-replicable outputs for each password. In addition, we offer intuitive tools to help users create even stronger passwords.
            </p>
        </section>
        <section class="mb-5">
            <h2 class="display-4 text-primary">Description</h2>
            <p class="lead">
                Our solution is designed to secure plaintext passwords by encrypting them with the most advanced cryptographic methods available. With a seamless and efficient user experience, Cryptonic combines the latest encryption and hashing algorithms to ensure that users are protected from data breaches and malicious online threats.
            </p>
        </section>
        <section class="mb-5">
            <h2 class="display-4 text-primary">Target Users</h2>
            <p class="lead">
                Cryptonic serves businesses that need to safeguard their users' passwords, as well as individuals who are serious about protecting their digital identities. With the increase in high-profile security breaches, including instances where corporate executives have had their credentials compromised, there is a growing demand for robust, reliable password security solutions.
            </p>
        </section>
        <section>
            <h2 class="display-4 text-primary">User Benefits</h2>
            <ul class="list-unstyled">
                <li class="mb-2">
                    <i class="bi bi-shield-lock-fill text-success"></i> <strong>State-of-the-art encryption technology</strong> for unmatched security.
                </li>
                <li class="mb-2">
                    <i class="bi bi-person-check-fill text-success"></i> <strong>Intuitive and user-friendly interface</strong> for hassle-free password management.
                </li>
                <li class="mb-2">
                    <i class="bi bi-box-arrow-in-right text-success"></i> <strong>Seamless integration</strong> with existing systems and platforms.
                </li>
                <li class="mb-2">
                    <i class="bi bi-headset text-success"></i> <strong>24/7 customer support</strong> to address all your concerns and needs.
                </li>
            </ul>
        </section>
    </div>
{% endblock content %}
