{% extends "base_generic.html" %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="py-5">
            <h1 class="display-3 fw-bold">Cryptonic</h1>
            <p>Cryptonic is a password solution that will make your passwords stronger and secure.</p>
            <p class="col-md-8 fs-4">
                <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more</a>
            </p>
        </div>
    </div>
    <div class="py-5">
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light rounded-3">
                    <p>
                        Cryptonic includes a password manager so that you can store your login information for as many websites as you want
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light rounded-3">
                    <p>
                        We encrypt your passwords so that you worry less about your security. Our randomly generated passwords are guaranteed also guaranteed to make you safer.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
