{% extends "base_generic.html" %}
{% block title %}
    Registered Passwords
{% endblock title %}
{% block content %}
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            {% if object_list %}
                <ol>
                    {% for password in object_list %}
                        <li>
                            <a href="{% url 'users:password-detail' pk=password.pk %}">
                                <strong>User:</strong> {{ password.user }}
                                <br>
                                <strong>Website:</strong> {{ password.website }}
                                <br>
                                <strong>Website Username:</strong> {{ password.website_username }}
                                <br>
                                <strong>Password (Encrypted):</strong> {{ password.password_encrypted }}
                                <br>
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>No passwords are in here.</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
